---
http_interactions:
- request:
    method: get
    uri: http://api.ihackernews.com/page
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: ! '{"nextId":null,"items":[{"title":"Introducing the Command Bar","url":"https://github.com/blog/1264-introducing-the-command-bar","id":4534549,"commentCount":7,"points":50,"postedAgo":"28
        minutes ago","postedBy":"dko"},{"title":"Odd Things Happen When You Chop Up
        Cities and Stack Them Sideways","url":"http://www.npr.org/blogs/krulwich/2012/09/12/160996525/odd-things-happen-when-you-chop-up-cities-and-stack-them-sideways?sc=tw&cc=share&utm_source=buffer&buffer_share=f34b7","id":4533699,"commentCount":26,"points":147,"postedAgo":"2
        hours ago","postedBy":"missechokit"},{"title":"Android can be beautiful","url":"http://androidniceties.tumblr.com/","id":4533310,"commentCount":100,"points":208[...]
