<div class="light_border">
  <p>
    <strong>Mean:</strong>&nbsp;<%= Calculator.new.mean(scores) %>
  </p>
  <p>
    <strong>Median:</strong>&nbsp;<%= Calculator.new.median(scores) %>
  </p>
  <p>
    <strong>Mode(s):</strong>&nbsp;<%= Calculator.new.mode(scores) %>
  </p>
</div>
